<!-- prettier-ignore -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>youcode blog</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <a href="/articles/create">create new article</a>
    <% if (articles.length <= 0) { %>
    <h2>there no articles</h2>
    <% } else { %>
    <ul>
      <% articles.forEach(function(article){ %>
      <li>
        <a href="<%= '/articles/'+article.id %>"><%= article.title %></a> <%=
        article.Category.name%>
      </li>
      <% }); %>
    </ul>

    <% } %>
  </body>
</html>
